.example-card {
  max-width: 1000px;
  margin: auto;
}

.example-header-image {
  background-image: url('src/assets/base_jumper_4.png');
  background-size: cover;
}

.password-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  word-wrap: break-word;
}
